name: Create production promotion pull request
on:
  issue_comment:                                     
    types: [created]

jobs:
  TriggerOnComment:
    if: ${{ github.event.issue.pull_request }}    # check if the comments come from pull request, exclude those from issue.
    runs-on: ubuntu-latest

    steps:
      - name: Check Keyword and author
        id: trigger
        if: |                                                   # check the keyword and authors(TODO: use actor id for author verification)
          contains('["/sync"]', github.event.comment.body) &&
          contains('["MuhammadTahaNaveed", "ha-ha-ha-haa"]', github.actor)
        run: echo "Author and keyword verified.... Triggering event"
        
      - name: Exit the job if keyword and author unverified
        if: ${{ steps.trigger.conclusion == 'skipped' }}
        run: exit 1

  GetPrAndCommitInfo:
    needs: TriggerOnComment
    runs-on: ubuntu-latest

    strategy:
      matrix:
        branch: ['PG11', 'PG12', 'PG13']

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}
      - name: Get Pull Request and Commits Info
        id: pr_info
        run: |
          PR_NUMBER=$(echo "${{ github.event.issue.url }}" | awk -F'/' '{print $NF}')
          PR_INFO=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/${PR_NUMBER}")
          COMMITS_INFO=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pulls/${PR_NUMBER}/commits")
          echo "$PR_INFO" > pr_info.json
          echo "$COMMITS_INFO" > commits_info.json
          echo 'pr_info.json' >> .git/info/exclude
          echo 'commits_info.json' >> .git/info/exclude
          echo "PR_TITLE=$(jq -r .title pr_info.json)" >> $GITHUB_ENV
          echo "PR_BODY=$(jq -r .body pr_info.json)" >> $GITHUB_ENV
          echo "PR_HEAD_BRANCH=$(jq -r .head.ref pr_info.json)" >> $GITHUB_ENV

      - name: Apply patch to ${{ matrix.branch }} branch
        run: |
          commits=$(jq -c '.[]' commits_info.json)
          while IFS= read -r commit; do
            sha=$(echo "$commit" | jq -r '.sha')
            author_name=$(echo "$commit" | jq -r '.commit.author.name')
            author_email=$(echo "$commit" | jq -r '.commit.author.email')
            committer_name=$(echo "$commit" | jq -r '.commit.committer.name')
            committer_email=$(echo "$commit" | jq -r '.commit.committer.email')
            commit_message=$(echo "$commit" | jq -r '.commit.message')
            commit_author="$author_name <$author_email>"

            # Add committer info
            git config --global user.email "$committer_email"
            git config --global user.name "$committer_name"

            # Generate patch and store in a file
            curl -L "https://github.com/${{ github.repository }}/commit/$sha.patch" -o "$sha.patch"

            # apply this patch to master branch
            git apply -v "$sha.patch"

            # Delete patch file
            rm "$sha.patch"

            git add .
            git commit -m "$commit_message" --author="$commit_author"
          done <<< "$commits"

          # delete the json files
          rm pr_info.json
          rm commits_info.json

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: auto-sync-${{ env.PR_HEAD_BRANCH }}-${{ matrix.branch }}  #this will contain the head branch name + PG11 + some keyword to indicate that this branch is created by github bot
          title: ${{ env.PR_TITLE }}
          body: ${{ env.PR_BODY }}
          labels: |
            ${{ matrix.branch }}
            automated pr
          reviewers: |
            MuhammadTahaNaveed
          delete-branch: true

# TODO: Following needs to be done

#     PR title
#     PR body
#     reviewers
#     labels
#     currently its creating against master, should be against all PG** branches. => ok
#     need to check what happens if commit has an extended description => ok snzz
#     head branch name as well
