name: Check and Print Labels

on:
  pull_request:
    types: [labeled]

jobs:
  tweet:
    if: >-
      (
        contains('["MuhammadTahaNaveed", "ha-ha-ha-haa"]', github.actor) &&
        contains(join(github.event.pull_request.labels.*.name, ' '), 'auto-create')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Print Labels
        run: |
          for label in ${{ github.event.pull_request.labels.*.name }}; do
            echo "Label: $label"
          done
