name: Check and Print Labels

on:
  pull_request:
    types: [labeled]

jobs:
  tweet:
    if: >-
        contains(github.event.pull_request.user.login, 'MuhammadTahaNaveed', 'john') &&
        contains(join(github.event.pull_request.labels.*.name, ' '), 'auto-create')
    runs-on: ubuntu-latest
    steps:
      - name: Print Labels
        run: |
          for label in ${{ github.event.pull_request.labels.*.name }}; do
            if [[ $label == "auto-create"* ]]; then
              echo "Label: $label"
            fi
          done
