name: Check and Print Labels

on:
  pull_request:
    types: [labeled]

jobs:
  tweet:
    if: >-
      (
        contains('["MuhammadTahaNaveed", "ha-ha-ha-haa"]', github.actor) &&
        contains(github.event.label.name, 'auto-create')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Print GitHub Event
        run: |
          echo "${{ toJson(github.event) }}"

      - name: Print branch
        run: |
          label="${{ github.event.label.name }}"
          branch_name="${label#auto-create-}"

          commits=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "${{ github.event.pull_request._links.commits.href }}")

          while IFS= read -r commit; do
            echo $commit
            sha=$(echo "$commit" | jq -r '.sha')
            echo $sha
            echo $commit.sha

          done <<< "$commits"

      # - name: Create Pull Request
      #   uses: peter-evans/create-pull-request@v5
      #   with:
      #     branch: auto-sync-${{ env.PR_HEAD_BRANCH }}-${{ matrix.branch }}  #this will contain the head branch name + PG11 + some keyword to indicate that this branch is created by github bot
      #     title: ${{ env.PR_TITLE }}
      #     body: ${{ env.PR_BODY }}
      #     labels: |
      #       ${{ matrix.branch }}
      #       automated pr
      #     reviewers: |
      #       MuhammadTahaNaveed
      #     delete-branch: true
